# docker-compose.yml
version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: my-mongo-lab
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db
  # เพิ่ม Redis ตรงนี้
  redis:
    image: redis:alpine
    container_name: my-redis-lab
    ports:
      - "6379:6379"
volumes:
  mongo-data: